.todo-item {
    border-bottom: solid rgba(255, 255, 255, 0.2) 4px;
    padding: 10px;

    display: grid;
    grid-template-rows: 2.5em 1fr;
    grid-template-columns: 1fr auto;

    .buttons {
        grid-column: 2;
        grid-row: 1;

        * {
            background: rgba(255, 255, 255, 0.4);
            border-radius: 5px;
            font-size: 15px;
            border: 0;
            cursor: pointer;
            color: #8b0000;
        }

        .edit {
            letter-spacing: -1px;
        }

        .remove {
            padding: 2px;
        }
    }
}
