h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
    font-family: "Helvetica Neue", Helvetica;
}

$body-padding: 10px;
body {
    margin: 0;
    padding: $body-padding;
    background: rgb(98,118,249);
    background: linear-gradient(90deg, rgba(98,118,249,1) 25%, rgba(168,33,33,1) 77%);
}

#main {
    background: rgba(255, 255, 255, 0.2);
    height: calc(100vh - #{2 * $body-padding});
    overflow: auto;
}

.main-bar {
    background: rgba(255, 255, 255, 0.2);
    padding: 0 10px;

    h1 {
        color: black;

        letter-spacing: -3px;
        text-transform: uppercase;
    }
}
